@import url(https://fonts.googleapis.com/css?family=Chewy);
* { margin:0; padding:0; box-sizing:border-box;}
body {
	background-color: white;
	font-family: arial, helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
}
nav {
	float: right;
	text-align: center;
}
nav a {
	margin: 10px;
	padding: 10px;
	background-color: #fff;
	border: 2px black solid;
	border-radius: 10%
}
nav a:link {
	color: #7F00DA;
}
nav a:visited {
	color: #7F00DA;
}
nav a:hover {
	color: #7F00DA;
	background-color: #869670;
}
/*nav a:active {
	color: #7F00DA;
}*/
/*h1 {
	text-align: center;
	font-family: 'Chewy', cursive;
	width: 500px;
	padding: 0px 650px;
	margin: 1em auto;
}*/
h2 {
	text-align: center;
	font-family: 'Chewy', cursive;
	margin: 0 auto;
	width: 50%;
	/*width: 400px;*/
}
ul	{
	font-style: italic;
	list-style-type: none;
	width: 60em;
	margin: auto;
}
/*.bubbles > li{
	float: left;
	margin: .5%;
	border: 2px black solid;
	background-color: #fff;
	font-size: 1em;
	text-align: center;
	width: 32.33%;
	padding: 5em;
	min-height: 14em;
}*/
#scope a {
	float: left;
	margin: .5%;
	border: 2px black solid;
	background-color: #fff;
	font-size: 1em;
	text-align: left;
	width: 15.6%;
	padding: 1em;
	min-height: 8em;
	border-radius: 5%
}
/*.bubbles > li > a{
	padding: auto;
	margin: auto;
}*/
#scope a:link {
	color: #7F00DA;
}
#scope a:visited {
	color: #7F00DA;
}
#scope a:hover
/*li a:hover*/ {
	color: #7F00DA;
	background-color: #869670;
}
.rectangles > li{
	float: left;
	margin: .5%;
	border: 2px black solid;
	background-color: #fff;
	width: 24%;
	padding: 2em;
	font-size: 1em;
	text-align: center;
	min-height: 7em;
	border-radius: 5%
}
a {
	text-decoration: none;
}
.clearfix:after{
	visibility: hidden;
	height: 0;
	font-size: 0;
	content:"hello";
	display: block;
	clear:both;
	}
header {
	background-color: #FF4D60;
    border: 1px black solid;
    padding: 20px;
}
#splash {
	background-image:url(../images/gold-fall-foliage.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	height:80vh;
	text-align: center;
}
#slogan {
	font-style: italic;
	/* text-align: left; */
	font-size: 40px;
	color: #000000;
	font-family: 'Chewy', cursive;
	padding: 300px 0 0;
	width: 16em;
	margin: auto;
} 
#scope {
	background-color: #19FF53;
	border: 1px black solid;
	/* padding: 20px; */
	/* width: 1200px; */
	/* margin: auto; */
	padding: 2em 0;
}
#services {
	background-color: #16DDFF;
	border: 1px black solid;
	/* padding: 20px; */
}
#contact {
	background-color: #E703FF;
    border: 1px black solid;
    padding: 20px;
    text-align: center;
}
#copyright {
	background-color: #FFD746;
    border: 1px black solid;
    padding: 20px;
    text-align: center;
}
