@import url(https://fonts.googleapis.com/css?family=Chewy);
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
* { margin:0; padding:0; box-sizing:border-box;}
body {
	/*background-image:url(../images/blue-sun-burst.jpg);*/
	background-size:cover;
	background-repeat:no-repeat;
	/*background-color: white;*/
	font-family: arial, helvetica, sans-serif;
	font-size: 20px;
	/*font-weight: bold;*/
}
header {
	border: 1px black solid;
    padding: 1em;
    background-color: #05309E;
}
header p {
	color: #fff;
	font-family: 'Chewy', cursive;
}
#logo p {
	float: left;
}
nav {
	float: right;
	text-align: center;
	margin-top: .5em;
}
nav a {
	margin: .25em;
	padding: .5em;
	color: #fff;
	font-size: .5em;
	font-family: 'Fjalla One', sans-serif;
}
/*nav a:link {
	color: #7F00DA;
}*/
nav a:visited {
	color: #fff;
}
nav a:hover {
	color: #EF5C08;
}
.wrapper {
	width: 100%;
	margin: auto;
}
#splash {
	background: url(../images/blue-sun-burst.jpg) no-repeat;
	background-size:cover;
	height:80vh;
	/* position: relative; */
}
/*#splash p {
	margin: 2em;
}*/
#first {
	margin: auto;
	width: 40%;
	padding: 5em 0;
}
#slogan {
	font-style: italic;
	font-size: 2em;
	color: #fff;
	text-align: left;
	/*background-image:url(../images/blue-sun-burst.jpg);
	background-repeat:no-repeat;*/
	font-weight: normal;
} 
#sub-slogan {
	font-style: italic;
	font-size: 1.5em;
	text-align: left;
	color: #EF5C08;
	margin: 1em 0;
}
ul	{
	font-style: italic;
	list-style-type: none;
	color: #EF5C08;
	text-align: left;
}
h2 {
	text-align: center;
	margin: 0 auto;
	width: 50%;
	color: #000;
	font-size: 1.5em;
	font-family: 'Fjalla One', sans-serif;
	/*width: 400px;*/
}

/*.bubbles > li{
	float: left;
	margin: .5%;
	border: 2px black solid;
	background-color: #fff;
	font-size: 1em;
	text-align: center;
	width: 32.33%;
	padding: 5em;
	min-height: 14em;
}*/
#scope {
	border: 1px black solid;
	/* padding: 20px; */
	/* width: 1200px; */
	/* margin: auto; */
	padding: 2em 10em;
}
#scope a {
	float: left;
	margin: .5%;
	border: 2px black solid;
	background-color: #05309E;
	font-size: 1em;
	text-align: center;
	width: 32.33%;
	/* padding: 4em 2em 3em; */
	min-height: 10em;
	border-radius: .25em;
}
/*.bubbles > li > a{
	padding: auto;
	margin: auto;
}*/
#scope a:link {
	color: #fff;
	position: relative;
}
#scope a:visited {
	color: #fff;
}
#scope a:hover { 
	color: #EF5C08;
}
#services {
	border: 1px black solid;
	padding: 2em 10em;
	/* padding: 20px; */
}
#services a{
	float: left;
	margin: .5%;
	border: 2px black solid;
	background-color: #05309E;
	width: 49%;
	padding: 2em;
	font-size: 1em;
	text-align: left;
	min-height: 7em;
	border-radius: 5%;
}
#services a:link {
	color: #fff;
}
#services a:visited {
	color: #fff;
}
#services a:hover {
	color: #EF5C08;
}
a {
	text-decoration: none;
}
.clearfix:after{
	visibility: hidden;
	height: 0;
	font-size: 0;
	content:"hello";
	display: block;
	clear:both;
}
#contact {
	border: 1px black solid;
    padding: .3em;
    text-align: center;
}
#copyright {
	border: 1px black solid;
    padding: .3em;
    text-align: center;
}
@media only screen and (max-width: 1224px) {
	#slogan {
	font-size: 1.7em;
	} 
	#sub-slogan {
		font-size: 1.3em;
	}
@media only screen and (max-width: 900px) {
	
	#slogan {
		font-size: 1.4em;
	} 
	#sub-slogan {
		font-size: 1em;
	}
	#services {
		width: 50%;
		margin: auto;
	}
	#services a {
	width: auto;
}

@media only screen and (max-width: 600px) {
	
	#slogan {
		font-size: 1em;
	} 
	#sub-slogan {
		font-size: .5em;
	}
	nav a {
		display: block;
	}
	
	#services a {
	font-size: .5em;
	}
}