@import url(https://fonts.googleapis.com/css?family=Chewy);
body {
	background-color: white;
	font-family: arial, helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
}
h2 {
	color: #A60000;
	text-align: center;
	font-family: 'Chewy', cursive;
}
ul	{
	font-style: italic;
	list-style-type: none;
}
#splash {
	background:url(../images/gold-fall-foliage.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	height:80vh;
}
#slogan {
	font-style: italic;
	text-align: center;
	font-size: 40px;
	color: #000000;
	font-family: 'Chewy', cursive;
} 
